.workout{
    height: 500px;
    border-radius: 8px;
    box-shadow: 1px 7px 8px 8px rgba(183, 183, 183, 0.2);
    overflow: hidden;
    display: flex;
    justify-content: center;
}
.card{
    position: relative;
    padding: 15px;
}
.workout img{
    width: 100%;
    border-radius: 8px;
}
.workout-info{
    margin: 0 14px;
}
.workout-info p{
    margin-bottom: 0;
    margin-top: 5px;
}
.workout-name{
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 21px;
    margin-bottom: 15px;
    margin-top: 9px;
}
.workout-details{
    font-size: 14px;
    color: gray;
    margin-bottom: 5px;
}
.btn-div{
    width: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    margin: 10px auto 0px auto;

}
.btn-add{
    width: 100%;
    padding: 10px 5px;
    color: white;
    background: rgb(71, 71, 71);
    border: none;
    border-radius: 8px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-text{
    margin-top: 0;
}
.btn-add:hover{
    background-color: rgb(47, 47, 47);
}

/* Responsiveness for mobile */
@media screen and (max-width:689px) {
    .workout{
        min-height: 610px;
        border-radius: 8px;
        box-shadow: 1px 7px 8px 8px rgba(183, 183, 183, 0.2);
        overflow: hidden;
        display: flex;
        justify-content: center;
    }

  }